# Intro to Pandas

Pandas is a library that helps organize and understand information like this into dataframes. These dataframes are kind of like lists or 2d arrays that you see in Python, but they are much more advanced.

![students.png]()

In [27]:
# Run the cell to see how a dataframe gets created.
import pandas as pd

my_dataframe = pd.DataFrame(
    {
        "Name": ("Rei", "Alexis", "Riley", "Anna"),
        "Favorite Color": ("Green", "Yellow", "Purple", "Orange"),
        "Age": (13, 15, 8, 10)
    }
)

print(my_dataframe)

     Name Favorite Color  Age
0     Rei          Green   13
1  Alexis         Yellow   15
2   Riley         Purple    8
3    Anna         Orange   10

In [28]:
# Edit the dataframe to add a column for Favorite Candy.
my_dataframe = pd.DataFrame(
    {
        "Name": ("Rei", "Alexis", "Riley", "Anna"),
        "Favorite Color": ("Green", "Yellow", "Purple", "Orange"),
        "Age": (13, 15, 8, 10),
        # Add favorite candy here:
        "Favorite Candy": ("Snickers", "Twix", "Twizzlers", "None")
    }
)

print(my_dataframe)

     Name Favorite Color  Age Favorite Candy
0     Rei          Green   13       Snickers
1  Alexis         Yellow   15           Twix
2   Riley         Purple    8      Twizzlers
3    Anna         Orange   10           None

# Viewing Data
As you can see you can print out an entire dataframe using the print function. However, imagine that you have a dataframe with thousands of rows in it. Printing out that whole dataframe would be an issue.

Pandas has two functions to help with this: head and tail.
* `head()` will show you the first five rows of data.

* `tail()` will show you the last five rows of data.

In [29]:
test_data = pd._testing.makeDataFrame()
# Call the head() function here
test_data.head()

                   A         B         C         D
ZqgszYBfuL  0.125730  0.345584  0.189053  2.040919
YT9l2dIrmO -0.132105  0.821618 -0.522748 -2.555665
sIqjUAQP6A  0.640423  0.330437 -0.413064  0.418099
nN571Qxycl  0.104900 -1.303157 -2.441467 -0.567770
uvJFQ32W8t -0.535669  0.905356  1.799707 -0.452649

In [30]:
# Call the tail() function here
test_data.tail()

                   A         B         C         D
KX3ZUHKXDz  0.094012 -1.889013  0.783181  0.540525
Z8xLc7Ycx2 -0.743499 -0.174772  2.056703  1.935088
NIhSMlDIIr -0.921725 -0.422190 -1.638443 -0.269620
FgKab4ZPDm -0.457726  0.213643 -1.729411 -0.243559
AplCGYHhh8  0.220195  0.217322 -1.504831  1.002314

# Manipulating dataframes

Now that you know how to view data, you can drop or add columns from a dataframe.

In [ ]:
test_data = test_data.drop(['A'], axis=1)

test_data.head()

In [31]:
# Drop column C here

# Use the head() function to see the first five rows with the new changes.
test_data = test_data.drop(['C'], axis=1)

test_data.head()

                   A         B         D
ZqgszYBfuL  0.125730  0.345584  2.040919
YT9l2dIrmO -0.132105  0.821618 -2.555665
sIqjUAQP6A  0.640423  0.330437  0.418099
nN571Qxycl  0.104900 -1.303157 -0.567770
uvJFQ32W8t -0.535669  0.905356 -0.452649

# Importing Data

Another useful things to do with pandas is to import data into a dataframe so that you can manipulate it. You can read data from any online open source location.

In [33]:
penguins = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/penguins.csv')
# Use the head() function to see the first 5 rows of the penguin data.
penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE

# Dropping Useless Rows

When you import data like this, sometimes you get bad rows where there isn't useful data. You can use a function called `dropna()` to get rid of bad data.

In [34]:
# Use dot notation to call dropna() on the penguins dataframe to drop the rows where at least one element is mising.
penguins = penguins.dropna()
# Use the head() function to see the first 5 rows of the data.
penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,MALE

# Selecting Data

You might also be in a situation where you want to create a dataset with only some of the data in it. In this case, you can select different parts of the data.

In [35]:
# Add code in the cell below to see which island each penguin is from.
print(penguins['island'])

0      Torgersen
1      Torgersen
2      Torgersen
4      Torgersen
5      Torgersen
         ...
338       Biscoe
340       Biscoe
341       Biscoe
342       Biscoe
343       Biscoe
Name: island, Length: 333, dtype: object

In [36]:
# Add code in the cell below to see all penguins species.
print(penguins['species'])

0      Adelie
1      Adelie
2      Adelie
4      Adelie
5      Adelie
        ...
338    Gentoo
340    Gentoo
341    Gentoo
342    Gentoo
343    Gentoo
Name: species, Length: 333, dtype: object

You can also select a series of rows using the ` : `.

In [37]:
# Add the code to select rows 14 through 23
print(penguins[14:23])

   species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
19  Adelie  Torgersen            46.0           21.5              194.0
20  Adelie     Biscoe            37.8           18.3              174.0
21  Adelie     Biscoe            37.7           18.7              180.0
22  Adelie     Biscoe            35.9           19.2              189.0
23  Adelie     Biscoe            38.2           18.1              185.0
24  Adelie     Biscoe            38.8           17.2              180.0
25  Adelie     Biscoe            35.3           18.9              187.0
26  Adelie     Biscoe            40.6           18.6              183.0
27  Adelie     Biscoe            40.5           17.9              187.0

    body_mass_g     sex
19       4200.0    MALE
20       3400.0  FEMALE
21       3600.0    MALE
22       3800.0  FEMALE
23       3950.0    MALE
24       3800.0    MALE
25       3800.0  FEMALE
26       3550.0    MALE
27       3200.0  FEMALE

In [38]:
# Add the code to select rows 4 through 15
print(penguins[4:15])

   species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
5   Adelie  Torgersen            39.3           20.6              190.0
6   Adelie  Torgersen            38.9           17.8              181.0
7   Adelie  Torgersen            39.2           19.6              195.0
12  Adelie  Torgersen            41.1           17.6              182.0
13  Adelie  Torgersen            38.6           21.2              191.0
14  Adelie  Torgersen            34.6           21.1              198.0
15  Adelie  Torgersen            36.6           17.8              185.0
16  Adelie  Torgersen            38.7           19.0              195.0
17  Adelie  Torgersen            42.5           20.7              197.0
18  Adelie  Torgersen            34.4           18.4              184.0
19  Adelie  Torgersen            46.0           21.5              194.0

    body_mass_g     sex
5        3650.0    MALE
6        3625.0  FEMALE
7        4675.0    MALE
12       3200.0  FEMALE
13       3800.0    MALE
14       4400.0    MALE
15       3700.0  FEMALE
16       3450.0  FEMALE
17       4500.0    MALE
18       3325.0  FEMALE
19       4200.0    MALE

# Sorting

You can also sort data by it's value. This can be useful if you want to find specific rows of data, or if you want the data in a certain order for some reason.

In [39]:
# Sort penguines by flipper length
penguins = penguins.sort_values(by="flipper_length_mm", ascending=False)

# Add code to print the first 5 rows
penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
283,Gentoo,Biscoe,54.3,15.7,231.0,5650.0,MALE
309,Gentoo,Biscoe,52.1,17.0,230.0,5550.0,MALE
221,Gentoo,Biscoe,50.0,16.3,230.0,5700.0,MALE
295,Gentoo,Biscoe,48.6,16.0,230.0,5800.0,MALE
285,Gentoo,Biscoe,49.8,16.8,230.0,5700.0,MALE

In [42]:
# Sort penguins by body mass
penguins = penguins.sort_values(by="body_mass_g", ascending=False)
# Add code to print the last 5 rows
penguins.tail()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
174,Chinstrap,Dream,43.2,16.6,187.0,2900.0,FEMALE
98,Adelie,Dream,33.1,16.1,178.0,2900.0,FEMALE
64,Adelie,Biscoe,36.4,17.1,184.0,2850.0,FEMALE
58,Adelie,Biscoe,36.5,16.6,181.0,2850.0,FEMALE
190,Chinstrap,Dream,46.9,16.6,192.0,2700.0,FEMALE